# IDE configs
.vscode

# server data
/chcluster/_data
/chcluster/_logs

# custom configs
/chcluster/config.d/*.xml
/chcluster/config.d/*.xml.disable

# binaries
/clickhouse
/clickhouse.debug
/clickhouse-common-static-*

